
*{
	margin:0px;
	padding:0px;
	border:0;
	outline:0;
	font-weight: normal;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #000;
	background-color: #FFF;
}

p { margin-bottom: 10px; }

#container, #header, #footer, ul.bread_crumb{
	margin: auto;
	width: 899px;
}

#footer{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	clear: both;
	float: left;
	width: 100%;
	height: 50px;
}

.hold{
	position: relative;
	clear: both;
	float: left;
	width: 100%;
	border-bottom: 1px dotted #999;
	margin-bottom: 20px;
}

h1, h3{
	font-size: 15px;
	display: block;
	padding: 5px;
	margin-bottom: 10px;
	clear: both;
	width: 100%;
	position: relative;
}

h2{
	clear: both;
	float: left;
	width: 100%;
	position: relative;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
}

h2 a{color: #FFF!important}

h3 a{
	top: -5px;
	float: left;
	position: relative;
	left: -5px;
	background-color: #0000FF;
	color: #FFFFFF;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 5px;
	font-size: 15px;
	text-decoration: none;
	margin-right: 5px;
}

ul.menu{
	display: block;
	float: left;
	width: 100%;
	clear: both;
	margin-bottom: 5px;
	}

ul.menu li{
	float: left;
	list-style-type: none;
	margin-right: 5px;
	font-size: 12px;
}

ul.menu li a{
	color: #FFFFFF;
	background-color: #006;
	padding: 5px;
	float: left;
	text-transform: uppercase;
	text-decoration: none;
}

ul.bread_crumb{
	float: left;
	clear: both;
	width: 100%;
}

ul.bread_crumb li{
	list-style-type: none;
	background-color: #0099FF;
	color: #FFFFFF;
	float:left;
	margin-right: 5px;
	font-size: 12px;
	padding: 5px;
}
ul.bread_crumb li a{
	background-color: #CCCCCC;
	position: relative;
	float: left;
	padding: 5px;
	text-decoration: none;
	margin: -5px;
}

#content{
	clear:both;
}

table{
	width:100%;
	clear: both;
	margin-bottom: 10px;
	border-top: 1px dotted #FFF;
	border-right: 1px dotted #FFF;
}

table td{
	vertical-align: top;
	margin: 0px;
	border-bottom: 1px dotted #FFF;
	border-left: 1px dotted #FFF;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}

table tr{
	background-color: #E6E6E6;
	margin: 0px;
	padding: 0px;

}

table tr:hover{
	background-color: #CCC;
}

table .heading{
	font-size: 15px;
	background-color: #CCCCCC;
}

table .heading td{
}

table tr.heading:hover{
background-color: #CCCCCC;
}

/* buttons */

.button{
	color: #000;
	background-color: #fff;
	display: block;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	margin-top: -2px;
	margin-right: -5px;
	margin-bottom: -2px;
	margin-left: -5px;
}

.button:hover{
	background-color: #F90;
	color: #FFF;
}

h2 .button{
	top: 0px;
	right: 16px;
	padding: 5px;
	white-space: nowrap;
	text-transform: uppercase;
	float: left;
	position: absolute;
	background-color: #093;
	
}

.button b{
	color: #CCC!important
}

h2.new{
	position: absolute;
	top: 0px;
}

.edit{
	background-color: #063;
	color: #FFF;
}


.up, .down {
	width: 50px;
	background-repeat: no-repeat;
	background-position: 45px center;
	background-color: #777;
	color: #FFF;
}

.up {
	float: left;
	background-image: url(../../images/admin/up.gif);
	clear: both;
}

.down{
	float: right;
	background-image: url(../../images/admin/down.gif);
}

.delete{
	background-color: #900;
	color: #FFF;
}

.liveweb{
	
}

h2 .cancel{
	background-color: #999999;
	width: 50px;
	float: left;
	font-size: 12px;
	padding-top: 4px;
	padding-bottom: 3px;
}


/*Submit buttons*/

input[type="submit"]{
	color: #FFFFFF;
	background-color: #009900;
	display: block;
	text-decoration: none;
	font-size: 12px;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-top: 2px!important;
	padding-right: 5px!important;
	padding-bottom: 1px!important;
	padding-left: 5px!important;
	float: left;
	margin-top: -2px;
	margin-right: -5px;
	margin-bottom: -2px;
	margin-left: -5px;
}

input[type="submit"].button{
	font-size: 12px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
}

h2 input[type="submit"]{
	background-color: #0000FF;
	clear: both;
	float: left;
}


/* form fileds */

input[type="text"]{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width:250px;
	padding-top: 3px;
	padding-right: 1px;
	padding-bottom: 3px;
	padding-left: 1px;
}

textarea{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 5px;
	width:625px;
}

#document_meta_description{ height:50px;}



select{
	font-size: 12px;
	padding: 1px!important;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
}

#flash-notice{
	background-color: #CCC;
	display: block;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-size: 15px;
}