<% resource ||= @document.resource if @document -%>
<% if resource.exists? %>
  Already uploaded: <a href="<%= resource.url %>" class="lightlinkz"><%= resource.original_filename %></a>
<% else %>
  Nothing uploaded yet!
<% end %>