<div class="social_media fadelinks">
<!-- AddThis Button BEGIN -->
	<div id="social_media">
		<h3>Bookmark this page / <a class="addthis_button_expanded" rel="nofollow">More bookmarks</a><span></span></h3>
		
		<a class="addthis_button_blogger" rel="nofollow"></a>
		<span>&nbsp;</span>
		<a class="addthis_button_delicious" rel="nofollow"></a>
		<span>&nbsp;</span>
		<a class="addthis_button_digg" rel="nofollow"></a>
		<span>&nbsp;</span>
		<a class="addthis_button_facebook" rel="nofollow"></a>
		<span>&nbsp;</span>
		<a class="addthis_button_google" rel="nofollow"></a>
		<span>&nbsp;</span>
		<a class="addthis_button_reddit" rel="nofollow"></a>
		<span>&nbsp;</span>
		<a class="addthis_button_stumbleupon" rel="nofollow"></a>
		<span>&nbsp;</span>
		<a class="addthis_button_twitter" rel="nofollow"></a>
		<span>&nbsp;</span>
		<a class="addthis_button_wordpress" rel="nofollow"></a>
		<span>&nbsp;</span>
		<a class="addthis_button_yahoobkm" rel="nofollow"></a>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=joenebula"></script>

<!-- AddThis Button END -->  
	</div>	
</div>
