<div id="search">
  <%= form_tag document_search_all_path %>
  <input id="criteria" type="text" value="Search..." name="search[title_like]" />
  <input type="submit" name="Go" value="Go" class="submit_search"/>
</form>
</div>